@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    color: #4E4E4E;
    background: #F3F3F3;
}

.List__label input[type="checkbox"]+span {
    background: url('./images/checkbox--unchecked.svg') left top no-repeat;
    background-size: 20px 20px;
    min-height: 20px;
    padding-left: 30px;
}

.List__label input[type="checkbox"]:checked+span {
    background-image: url('./images/checkbox--checked.svg');  
    text-decoration: line-through;
    color: #C9CDD1;
}